<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>MyRazorApp</title>
</head>
<body>
    <header>
         <partial name="Shared/NavMenuPartial"/>
         <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
         <link rel="stylesheet" href="~/MyRazorApp.styles.css" asp-append-version="true">
    </header>
    <main>
        @RenderBody()
    </main>
        
    
</body>

</html>