@page "~/Sobre"
@model MyApp.Namespace.AboutModel

<div>
    <h1>Sobre Nós</h1>
    <main>
        <p>
            Somos uma empresa dedicada a criar soluções tecnológicas eficientes e modernas.
            Nossa missão é atender às necessidades dos nossos clientes com excelência.
        </p>
        <a href="home.html" class="button">Voltar à Home</a>
    </main>
</div>
    
