@page
@model Index

<div>
    <h1>Bem-vindo à nossa Plataforma</h1>
    <main>
        <p>Explore nosso sistema e conheça tudo que temos a oferecer!</p>
        <a asp-page="Categories" class="button">Ver Categorias</a>
    </main>
</div>

        
        
    

