@page
@model MyRazorApp.Pages.Index
<!DOCTYPE html>
<html lang="pt-br">
<head>
</head>
<body>
    <Title>Entendedo Razor Pages</Title>
    <h1>
        @for(var i=0;i<=10;i++){
            <p>Item @i</p>
        }
    </h1>
</body>
<style>
    body{background-color: black;}
    p{background-color: white;}
</style>
</html>
