@page
@model MyRazorApp.Pages.Index
<!DOCTYPE html>
<html lang="pt-br">
<head>
</head>
<body>
    <Title>Entendedo Razor Pages</Title>
    <div>
        <table>
            <thead>
                <tr>
                    <td>
                        ID
                    </td>
                    <td>
                        Title
                    </td>
                    <td>
                        Price
                    </td>
                </tr>
            </thead>
            <tbody>
            @foreach(var category in Model.Categories)
            {
                <tr>
                    <td>
                        @category.Id
                    </td>
                    <td>
                        @category.Title
                    </td>
                    <td>
                        @category.Price.ToString("C");//usei o ToString para deixar os valores com a moeda que esta configurada meu pc
                    </td>
                </tr>

            }
            </tbody>
        </table>
        
    </div>
    <style>
        body{background-color: black;}
        div{color: aliceblue;}
    </style>
        
    
</body>

</html>
